body {
	/* A student reco'd Lucida Sans Unicode on MS Windows as an approximation of
	Lucida Grande which is only available on Mac. */
	font: 16px 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.container {
	max-width: 960px;
}

/***** Header *****/

h1 {
	color: #666;
	font-size: 49px;
}

.title {
	margin: 25px 15px 19px 15px;
}

/***** Content *****/

h2 {
	color: #F07C17;
	margin: 0 0 30px 0;
	font: bold 25px 'Lucida Grande', sans-serif;
}

ul {
	color: #666;
	line-height: 2;
}

p {
	color: #666;
	font: 100 15px/2 'Lucida Grande', sans-serif;
}

.article {
	margin-top: 8px;
}

.col-md-7 {
	padding: 0;
	max-width: 547px;
}

.imgBox {
	margin-bottom: 33px;
}

.features {
	border: 1px solid #CCC;
	padding: 31px 0 28px 28px;
}

.article-text {
	padding-left: 15px;
}