* {
	/* border: 1px solid red !important; */
}

body {
	/* A student reco'd Lucida Sans Unicode on MS Windows as an approximation of
	Lucida Grande which is only available on Mac. */
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size: 16px;
}

.container {
	justify-content: center;
	max-width: 960px;
}

h1 {
	color: #666666;
	font-size: 49px;
}

h2 {
	color: #F07C17;
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 25px;
	font-weight: bold;
}

p {
	color: #666666;
	line-height: 2;
	font-weight: 100;
}

ul {
	color: #666666;
	line-height: 2;
}

.col-md-5 {
	margin-left: 3px;
	padding-right: 11px;
}

.col-md-7 {
	padding-left: 0;
	padding-right: 0;
	max-width: 547px;
	margin-left: 5px;
}

.title {
	/* 22px looks vertically aligned in Chrome but gives higher mismatch. */
	margin-top: 25px;
	margin-bottom: 19px; /* 17px per tester */
}

.article {
	margin-top: 8px;
}

.article-text {
	padding-left: 15px; /* per tester */
}

.imgBox {
	/* max-width: 375px; */
	margin-bottom: 30px;
}

.features {
	border: 1px solid #CCCCCC;
	padding-top: 31px;
	padding-left: 31px;
	padding-bottom: 28px;
}